<div version="2.0" xmlns:spring="http://www.springframework.org/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:bs="urn:jsptagdir:/WEB-INF/tags/bootstrap"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:c="http://java.sun.com/jsp/jstl/core" class="signOnContainer">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	
	<br />
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				<spring:message code="verifyCode_title" htmlEscape="false"></spring:message>
			</h2>
		</div>
		<div class="panel-body">
			<spring:message code="verifyCode_message" htmlEscape="false"></spring:message>
		</div>
	</div>
	<br />

	<bs:allerrors model="otp" />

	<!-- /Messages -->
	<div class="hidden-xs">
		<!-- 						<jsp:include page="umrightlinks.jspx"/> -->
	</div>


	<form:form class="form-signin" method="POST"
		commandName="otp" AUTOCOMPLETE="false">
		<input type="hidden" name="_flowExecutionKey"
			value="${flowExecutionKey}" />

		<bs:input path="verificationCode" label="Authorization Code:" />
		


		<div class="form-group">
			<button type="submit" class="btn btn-large btn-primary"
				id="codeEntered" name="_eventId_codeEntered"
				value="Continue">Verify</button>
		</div>
	</form:form>

</div>
