/* ===================
    ALL: FAU Colors Theme
   =================== */

.header-container {
    border-bottom: 10px solid #cc0000;
      margin-left: auto ;
  margin-right: auto ;
}

.footer-container {
    border-top: 10px solid #cc0000;
}

.header-container {
    background: #036;
	min-height: 80px;
	  margin-left: auto ;
  margin-right: auto ;
}

.title {
    color: white;
}
.login-links {
	margin-left: -15px;
	margin-right: -15px;
}

ul.help {

	width: 40%;
}

ul.help li {
	list-style:none;
    display: table-cell;
    width: 1%;
}
