<!DOCTYPE html>
<html>
<head th:replace="template :: head">
<title>Match Review Manager</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Using CDN version so they render in Eclipse Preview will be replaced with webjar version when executed -->
<!-- CSS-->
<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet" />
   <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/styles.css}"  href="../css/styles.css" />
   <link href="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css"	rel="stylesheet" />
<!-- Bootstrap core JavaScript
    ================================================== -->

<script src="http://code.jquery.com/jquery-1.9.1.min.js">
<!--Placeholder-->
	
</script>
<script
	src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js">
<!--Placeholder-->
	
</script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">
<!--Placeholder-->
	
</script>

<script
	src="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js">
<!--Placeholder-->
	
</script>

</head>
<body>
	<div th:replace="template :: pageheader" class="row">


  <div class="header-container" >
      <header class="wrapper clearfix"> <span id="PageTitleLabel"  style="margin-left: 100px"><img alt="Florida Atlantic University" th:src="@{/images/faulogo.png}" src="../images/faulogo.png" class="logo" /></span> </header>
    </div>
 

	</div>

	<div th:replace="template :: navbar" class="navbar navbar-inverse "
		role="navigation">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">


						<li class="active"><a href="#">Welcome</a></li>
						<li class="active"><a href="/logoffPage">Logout</a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		
		<ul id="candidatelist" class="nav nav-tabs" >
			
  			<li th:each="candidate : ${partialmatch.candidates}" role="presentation" >
  													
  			<a th:href="@{/candidateMatch/{candidateid}(candidateid=${candidate.candidateid})}" th:text="'Candidate: ' + ${candidate.matchscore}">Candidate: 50</a>
  			</li>
 
		</ul>
		
		
		<div id="candidate-content" >
				<table class="table">
					<thead>
						<tr>
						<th>Field Name</th>
						<th>Source Value</th>
						<th>Candidate Value</th>
						
						</tr>
					</thead>
					<tbody>
						<tr th:each="pair : ${comparison}">
						<td th:text="${pair.fieldName}">First Name</td>
						<td th:text="${pair.sourceValue}">Robert</td>
						<td th:text="${pair.candidateValue}">Bobby</td>

						</tr>
					</tbody>

				</table>
		</div>
		
	<div id="history-content" >
			<h3>History</h3>
				<table class="table">
					<thead>
						<tr>
						<th>Action</th>
						<th>Created By</th>
						<th>Created On</th>
						
						</tr>
					</thead>
			
					<tbody>
						<tr th:each="history : ${histories}">
						<td th:text="${history.comments}">First Name</td>
						<td th:text="${history.createdBy}">Robert</td>
						<td th:text="${history.createdon}">Bobby</td>

						</tr>
					</tbody>

				</table>
		</div>	
		
		
	</div>
	
			
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			

			$('#candidatelist li').on('click', 'a', function() {
				var url = $(this).attr('href');
				var lip = $(this).closest('li');
				
				$('#candidatelist li.active').removeClass('active');
				lip.addClass('active');
    		
    
  			 $("#candidate-content").load(url);
  			 return false;
			});
		});
		/*	]]>  */
	</script>
</body>
</html>