<!DOCTYPE html>
<html>
<head th:replace="template :: head">
<title>User Administration</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Using CDN version so they render in Eclipse Preview will be replaced with webjar version when executed -->
<!-- CSS-->
<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet" />
	   <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/styles.css}"  href="../css/styles.css" />
<link
	href="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css"
	rel="stylesheet" />
<!-- Bootstrap core JavaScript
    ================================================== -->

<script src="http://code.jquery.com/jquery-1.9.1.min.js">
<!--Placeholder-->
	
</script>
<script
	src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js">
<!--Placeholder-->
	
</script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">
<!--Placeholder-->
	
</script>

<script
	src="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js">
<!--Placeholder-->
	
</script>

</head>
<body>
	<div th:replace="template :: pageheader" class="row">


			 <div class="MainArea" >
  <div class="header-container" >
      <header class="wrapper clearfix"> <span id="PageTitleLabel"  style="margin-left: 100px"><img alt="Florida Atlantic University" th:src="@{/images/faulogo.png}" src="../images/faulogo.png" class="logo" /></span> </header>
    </div>
  </div>
	</div>

	<div th:replace="template :: navbar" class="navbar navbar-inverse "
		role="navigation">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">


						<li class="active"><a href="#">Welcome</a></li>
						<li class="active"><a href="/logoffPage">Logout</a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="table-responsive"
			th:unless="${#lists.isEmpty(users)}">

			<table id="results" class="table  table-hover table-bordered">
				<thead>
					<tr class="&lt;th">
					<th>User ID</th>
						<th>User Name</th>
						<th>Role</th>
						<th>Enabled</th>
						<th>Edit User</th>
						<th>Delete User</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
					<td th:text="${user.userId}">555</td>
						<td th:text="${user.userName}">555</td>
						<td th:text="${user.authority}">HR System</td>
						<td th:text="${user.enabled}">12345678</td>
					
					<td><a class="btn" href="#" data-th-href="@{/user/edit(id=${user.userId})}"><span class="glyphicon glyphicon-edit"></span></a></td>
 
				<td><a class="btn" href="#"  data-th-href="@{/user/delete(id=${user.userId},phase=stage)}"><span class="glyphicon glyphicon-trash"></span></a></td>
			
					</tr>
				</tbody>
			</table>


		</div>
	</div>
	<div class="container">
  <div class="row">
     <div class="col-lg-8">
        <p>Add User</p><a th:href="@{/user/add}"><span   class="glyphicon glyphicon-plus"></span></a>
     </div>
   </div>
</div>
</body>
</html>