<div version="2.0" xmlns:spring="http://www.springframework.org/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:bs="urn:jsptagdir:/WEB-INF/tags/bootstrap"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:c="http://java.sun.com/jsp/jstl/core" class="signOnContainer">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<br />
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				<spring:message code="answerQuestions_title" htmlEscape="false"></spring:message>
			</h2>
		</div>
		<div class="panel-body">
			<spring:message code="answerQuestions_message" htmlEscape="false"></spring:message>
		</div>
	</div>
	<br />

	<bs:allerrors model="securityQuestions" />

	<!-- /Messages -->
	<div class="hidden-xs">
		<!-- 						<jsp:include page="umrightlinks.jspx"/> -->
	</div>



	<form:form class="form-signin" method="POST"
		commandName="securityQuestions" AUTOCOMPLETE="false">
		<input type="hidden" name="_flowExecutionKey"
			value="${flowExecutionKey}" />



		<bs:input path="answer1" label="${securityQuestions.question1 }" />


		<c:if test="${not empty securityQuestions.question2}">
			<bs:input path="answer2" label="${securityQuestions.question2 }" />
		</c:if>
		<c:if test="${not empty securityQuestions.question3}">
			<bs:input path="answer3" label="${securityQuestions.question3 }" />
		</c:if>

		<div class="form-group">
			<button class="btn btn-large btn-primary" type="submit"
				id="answersEntered" name="_eventId_answersEntered" value="Continue">Continue</button>
		</div>
	</form:form>
	<div>
		<a href="${flowExecutionUrl}&amp;_eventId=forgotAnswers">I am
			unable to remember the answers.</a>
	</div>


</div>
