<div version="2.0" xmlns:spring="http://www.springframework.org/tags" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:form="http://www.springframework.org/tags/form" xmlns:c="http://java.sun.com/jsp/jstl/core">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
 
  <util:panel id="title" title="Forgot Password - Answer Questions">
    <h1>Enter your Cane ID</h1>
    <p>
      Please enter your Cane ID
    </p>
    <form:form method="POST">
      	<input type="hidden" name="_flowExecutionKey" value="${flowExecutionKey}"/> 
      	${userSelfService.userLogin} 
      	
      	
      	${userSelfService.questions }
      	
      	
       <div class="submit">
        <input type="submit" id="questionsAnswered" name="_eventId_questionsAnswered" value="Continue" />
      </div>
    </form:form>
  </util:panel>
</div>
